/* Add your code in each class */
.container {
  height: 300px;
  width: 400px;
  overflow: scroll;
}
.head {
  font-style: italic;
  background-color: blue;
  color: red;
   
  position: sticky;
  top: 0;
}

.row {
  /* .row is used in ./index.js not in the html filee */
}

/* This is a gift - Does not need editing */
/* Learn more about CSS Pseudo Classes https://www.w3schools.com/css/css_pseudo_classes.asp*/
.row:hover {
  text-decoration: line-through;
  cursor: pointer;
}
